body{
    margin:0;
    font-family:Verdana, sans-serif;
}

header{
    background-color:#3f51b5;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    display: ho;
}

  .main-section{
    text-align:center;
    padding:80px 30px;
    background-color:#f5f5f5;
}

.main-section h1{
    font-size:42px;
}

.main-section p{
    max-width:700px;
    margin:20px auto;
}

button{
    padding:10px 20px;
    background-color:#3f51b5;
    color:white;
    border:none;
    cursor:pointer;
}

.about{
    padding:50px;
    text-align:center;
}

.services{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    border:1px solid #ddd;
    padding:20px;
    text-align:center;
    border-radius:5px;
}

footer{
    background-color:#3f51b5;
    color:white;
    text-align:center;
    padding:15px;
}

@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }

    .main-section h1{
        font-size:30px;
    }
}